literature-cleaned*.bib
typo3_*.bib

test_latex/*.pdf
test_latex/pdf
test_latex/log

classification/problems.csv

*.aux
*.bbl
*.bcf
*.blg
*.log
*.gz
.idea
*.nav
*.out
*.run.xml
*.snm
*.toc
*.fls
*.fdb_latexmk
.venv
.auctex-auto/
.vscode
